{% extends 'base.html' %}
{% load static %}

{% block title %}
About Page
{% endblock %}

{% block content %}
<h1 class="text-center">{{ title }}</h1>
<p>{{ aboutdesc }}</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi consequatur veritatis unde eius velit
    reprehenderit, voluptate at rem, eveniet libero culpa sit! Rerum, tenetur. Facilis optio perferendis mollitia ad
    totam inventore, ipsam facere! Totam modi nostrum voluptate iste eius, facere autem obcaecati natus odit, molestiae
    necessitatibus pariatur saepe eaque rerum nesciunt delectus alias quae praesentium ab voluptatibus veritatis sint.
    Perferendis vero et quaerat dolorem eaque facilis ipsam hic corrupti delectus adipisci accusamus mollitia fugiat,
    incidunt molestiae a quibusdam ullam minima neque nesciunt exercitationem deleniti nihil! Earum debitis aperiam
    quaerat dolorem totam at ipsum sit voluptates unde, eaque fugit vitae repellendus soluta consequuntur quibusdam
    asperiores expedita minima! Nesciunt eaque dolores consequatur veniam amet voluptates sequi rerum pariatur magnam
    perspiciatis quia placeat itaque fugiat, deleniti ea labore eius illum facilis aliquam? Sequi dignissimos sit at
    corporis et dicta excepturi eligendi magnam veniam a rem voluptatibus consectetur illum illo sunt iste soluta
    delectus expedita, modi qui recusandae ipsa! Voluptates corrupti laborum eveniet doloremque tempora vitae iure.
    Maxime suscipit odit eveniet quasi eos corrupti a neque, earum assumenda autem ex sequi rerum reprehenderit
    doloribus qui, praesentium perferendis quam ipsam distinctio temporibus iste amet. Ipsa nam perferendis dolore
    libero? Tempore nulla repudiandae illo magni beatae!</p>
<img src="{% static 'img/pic2.jpg' %}" alt="">
{% endblock %}
