{% extends 'base.html' %}

{% block title %}
Computer Page
{% endblock %}

{% block content %}
<h1 class="text-center">Computer Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti exercitationem totam omnis illo quam nesciunt
    tempore ea in eius ipsam dolores, quidem aspernatur dolorum obcaecati aliquid quo ut tenetur nemo? Quisquam,
    sapiente! Praesentium incidunt, totam quos ipsum hic vero ipsa nulla, repellendus neque similique quas nemo illum ut
    earum! Commodi, suscipit repellat. Cum unde iure quasi asperiores natus aspernatur maiores debitis deleniti commodi
    dignissimos ab, illum iste quos saepe eos enim repellat et ullam omnis neque ex magni, ad quidem. Aliquam quibusdam
    laboriosam molestiae sit a ut, porro qui omnis iure, repellendus eveniet, maxime esse magnam rem doloribus sed nulla
    error. Magnam, repudiandae fuga porro est libero minus, aut tenetur eius dolore molestias illo obcaecati asperiores
    unde dolorem perferendis, et accusamus? Ipsam minus ex aliquam eius doloribus quo quod iure enim architecto dolores
    nostrum cum qui facilis, voluptas rem eveniet sunt cumque facere delectus, maiores similique reprehenderit.
    Doloremque modi eaque aperiam enim illum officiis in molestiae aspernatur. Eius velit laborum quaerat! Quo delectus
    laborum beatae doloribus! Quisquam tempora sed cupiditate molestiae, temporibus ipsa eveniet voluptas nostrum
    reprehenderit quis, aut deleniti est quam non laboriosam incidunt commodi enim natus corporis hic repellendus,
    dignissimos quibusdam. Accusamus, perspiciatis. Asperiores repellendus praesentium laboriosam ullam.</p><br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti exercitationem totam omnis illo quam nesciunt
    tempore ea in eius ipsam dolores, quidem aspernatur dolorum obcaecati aliquid quo ut tenetur nemo? Quisquam,
    sapiente! Praesentium incidunt, totam quos ipsum hic vero ipsa nulla, repellendus neque similique quas nemo illum ut
    earum! Commodi, suscipit repellat. Cum unde iure quasi asperiores natus aspernatur maiores debitis deleniti commodi
    dignissimos ab, illum iste quos saepe eos enim repellat et ullam omnis neque ex magni, ad quidem. Aliquam quibusdam
    laboriosam molestiae sit a ut, porro qui omnis iure, repellendus eveniet, maxime esse magnam rem doloribus sed nulla
    error. Magnam, repudiandae fuga porro est libero minus, aut tenetur eius dolore molestias illo obcaecati asperiores
    unde dolorem perferendis, et accusamus? Ipsam minus ex aliquam eius doloribus quo quod iure enim architecto dolores
    nostrum cum qui facilis, voluptas rem eveniet sunt cumque facere delectus, maiores similique reprehenderit.
    Doloremque modi eaque aperiam enim illum officiis in molestiae aspernatur. Eius velit laborum quaerat! Quo delectus
    laborum beatae doloribus! Quisquam tempora sed cupiditate molestiae, temporibus ipsa eveniet voluptas nostrum
    reprehenderit quis, aut deleniti est quam non laboriosam incidunt commodi enim natus corporis hic repellendus,
    dignissimos quibusdam. Accusamus, perspiciatis. Asperiores repellendus praesentium laboriosam ullam.</p><br>
{% endblock %}
