{% extends 'base.html' %}
{% load static %}

{% block title %}
Mobile
{% endblock %}

{% block content %}
<h1 class="text-center">Mobile Page</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis esse, reiciendis dolorem beatae, magnam quis
    perspiciatis at non placeat delectus dicta explicabo excepturi quia fugiat accusantium iste harum ea atque doloribus
    quod corporis consectetur nostrum molestiae. Vero est accusamus delectus nobis soluta excepturi odio alias laborum.
    Hic tempora delectus quia eveniet optio dolore consectetur unde quisquam perferendis officia minus tenetur fugiat
    error in fuga, est asperiores iste earum accusamus iusto eaque blanditiis. Aliquam, vitae quidem maxime commodi quae
    nemo tempore, reiciendis in pariatur perferendis praesentium mollitia excepturi, similique aut eos quam? Libero
    eaque in quaerat officia sint. Praesentium, molestias reiciendis.</p>
{% endblock %}
